{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-4">Editar Pedido</h3>
    <div class="card">
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Salvar Pedido</button>
            </form>
        </div>
    </div>
    <a href="{% url 'request_list' %}" class="btn btn-secondary mt-3">Voltar para a Lista de Pedididos</a>
</div>

{% endblock %}