<div class="row flex-nowrap">
    <div class="col-auto col-md-0 col-xl-0 px-0">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
        <button class="btn btn-dark d-block d-sm-none mb-3" type="button" data-bs-toggle="collapse"
          data-bs-target="#menuCollapse" aria-expanded="false" aria-controls="menuCollapse">
          <i class="bi bi-list fs-4"></i>
        </button>
        <div class="collapse d-sm-block" id="menuCollapse">
          <ul class="nav flex-column align-items-start" id="menu">
            
          {% if perms.products.view_product and perms.inflows.view_inflow and perms.outflows.view_outflow %}
            <li>
                <a href="{% url 'home' %}" class="nav-link px-0 align-middle">
                    <i class="bi bi-speedometer2 fs-4"></i>
                  <span class="ms-1">Dashboard</span>
                </a>
            </li>
          {% endif %}

            {% if perms.outflows.view_outflow %}
            <li>
              <a href="{% url 'outflow_list' %}" class="nav-link px-0 align-middle">
                <i class="bi bi-cart-plus fs-4"></i>
                <span class="ms-1">Vendas</span>
              </a>
            </li>
            {% endif %}

            {% if perms.outflows.view_outflow %}
            <li>
              <a href="{% url 'service_provision_list' %}" class="nav-link px-0 align-middle">
                <i class="bi bi-wrench-adjustable-circle fs-4"></i>
                  <span class="ms-1">Prestação de Serviços</span>
              </a>
            </li>
            {% endif %}

            {% if perms.clients.view_client %}
              <li>
              <a href="{% url 'client_list' %}" class="nav-link px-0 align-middle">
                <i class="bi bi-person-circle fs-4"></i>
                <span class="ms-1">Clientes</span>
              </a>
            </li>
            {% endif %}

              {% if perms.employees.view_employee %}
            <li>
              <a href="{% url 'employee_list' %}" class="nav-link px-0 align-middle">
                <i class="bi bi-people-fill fs-4"></i>
                <span class="ms-1">Funcionários</span>
              </a>
            </li>
            {% endif %}

            {% if perms.suppliers.view_suppliers %}
            <li>
              <a href="{% url 'supplier_list' %}" class="nav-link px-0 align-middle">
                <i class="bi bi-truck fs-4"></i>
                <span class="ms-1">Fornecedores</span>
              </a>
            </li>
            {% endif %}

            {% if perms.brands.view_brand %}
            <li>
              <a href="{% url 'brand_list' %}" class="nav-link px-0 align-middle">
                <i class="bi bi-shop fs-4"></i>
                <span class="ms-1">Marcas</span>
              </a>
            </li>
            {% endif %}

              {% if perms.categories.view_category %}
            <li>
              <a href="{% url 'category_list' %}" class="nav-link px-0 align-middle">
                <i class="bi bi-tags fs-4"></i>
                <span class="ms-1">Categorias</span>
              </a>
            </li>
            {% endif %}

            {% if perms.products.view_product %}
            <li>
              <a href="{% url 'product_list' %}" class="nav-link px-0 align-middle">
                <i class="bi bi-box-seam fs-4"></i>
                <span class="ms-1">Produtos</span>
              </a>
            </li>
            {% endif %}

            {% if perms.products.view_product %}
            <li>
              <a href="{% url 'service_list' %}" class="nav-link px-0 align-middle">
                <i class="bi bi-tools fs-4"></i>
                   <span class="ms-1">Serviços</span>
              </a>
            </li>
            {% endif %}

            {% if perms.inflows.view_inflow %}
            <li>
              <a href="{% url 'inflow_list' %}" class="nav-link px-0 align-middle">
                <i class="bi bi-arrow-down-left-square fs-4"></i>
                <span class="ms-1">Entradas</span>
              </a>
            </li>
            {% endif %}

            <li class="nav-item">
              {% if user.is_authenticated %}
              <form action="{% url 'logout' %}" method="post" id="logout-form" class="nav-link px-0 align-middle">
                {% csrf_token %}
                <button type="submit" class="btn btn-link text-decoration-none text-reset nav-link px-0 align-middle">
                  <i class="bi bi-box-arrow-right fs-4"></i>
                  <span class="ms-1">Sair</span>
                </button>
              </form>
              {% endif %}

              </a>
            </li>
          </ul>
        </div>
        <hr>
      </div>
    </div>
  