{% extends "base.html" %}
{% block title %}Deletar Fornecedor{% endblock %}

{% block content %}
  
<div class="container mt-4">
    <h3 class="display-6">Deletar Fornecedor</h3>
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                Tem certeza de que deseja excluir o Fornecedor <strong>{{ suppliers.name }}?</strong>
            </p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mt-3">Deletar Fornecedor</button:subimit>
            </form>
        </div>
    </div>
    
    <a href="{% url 'supplier_list' %}" class="btn btn-secondary mt-3">Voltar para a Lista de Fornecedors</a>
</div>

{% endblock  %} 