{% extends "base.html" %}

{% block content %}
{% block title %} Deletar Cliente {% endblock  %}
  

<div class="container mt-4">
    <h3 class="display-6">Deletar Cliente</h3>
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                Tem certeza de que deseja excluir o Cliente <strong>{{ clients.name }}?</strong>
            </p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mt-3">Deletar Cliente</button:subimit>
            </form>

        </div>
    </div>
    
    <a href="{% url 'client_list' %}" class="btn btn-secondary mt-3">Voltar para a Lista de Clientes</a>
</div>

{% endblock  %} 