{% extends "base.html" %}
{% block title %} Cadastrar Categoria {% endblock  %}
{% block content %}
<div class="container mt-4">
    <h3 class="display-6">Cadastrar Categoria</h3>
    <div class="card" style="background: linear-gradient(135deg, rgb(60, 60, 70) 100%, rgb(60, 50, 40) 80%); border-radius: 15px; color: white;">
        <div class="card-body">
            <form method="post" class="form">

                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit" class="btn btn-primary">Salvar Categoria</button>
            </form>
        </div>
    </div>
    <a href="{% url 'category_list' %}" class="btn btn-secondary mt-3">Canelar e Voltar para a Lista de Categorias</a>
</div>

{% endblock %}