{% extends "base.html" %}
{% block title %}
    SGP - HOME
{% endblock %}


{% block content %}

{% include "components/_sales_metrics.html" %}
{% include "components/_product_metrics.html" %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="row mt-4 justfy-content-center">

        <div class="col-md-6 text-center">
            <h5 class="text-center mb-3">Valor de Vendas (Últimos 7 dias)</h5>
            <canvas id="dailySalesChart"></canvas>
        </div>

        <div class="col-md-6 text-center">
            <h5 class="text-center mb-3">Saídas de Produtos (Últimos 7 dias)</h5>
            <canvas id="dailySalesQuantityChart"></canvas>
        </div>
        
        <script>

            document.addEventListener('DOMContentLoaded', function () {
                let dailySalesData = JSON.parse('{{ daily_sales_data|safe }}');
                let dailySalesQuantityData = JSON.parse('{{ daily_sales_quantity_data|safe }}');
        
                let ctxDailySales = document.getElementById('dailySalesChart').getContext('2d');
                let dailySalesChart = new Chart(ctxDailySales, { 
                    type: 'line',
                    data: {
                        labels: dailySalesData.dates,
                        datasets: [{
                            label: 'Valor em Vendas',
                            data: dailySalesData.values,
                            fill: false,
                            borderColor: 'rgba(54, 162, 255, 1)',
                            borderWidth: 2,
                            tension: 0.5
                        }]
                    },  
                    options: {  
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
        
                let ctxDailySalesQuantity = document.getElementById('dailySalesQuantityChart').getContext('2d');
                let dailySalesQuantityChart = new Chart(ctxDailySalesQuantity, {  
                    type: 'bar',
                    data: {
                        labels: dailySalesQuantityData.dates,
                        datasets: [{
                            label: 'Quantidade de Vendas',
                            data: dailySalesQuantityData.values,
                            backgroundColor: 'rgba(255, 99, 132, 1)',  // Correção aqui
                            borderWidth: 1
                        }]
                    },
                    options: {  
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
        </script>
        
    </div>    
    <div class="row mt-4 justfy-content-center">
        <div class="col-md-6 text-center">
            <h5 class="mb-3">Produtos Por Categoria</h5>
            <div class="mb-4"></div>
            <div class="embed-responsive embed-responsive1by1" style="width: 400px; display: inline-block;">
                <canvas id="productByCategoryChart" class="embed-responsive-item"></canvas>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <h5 class="mb-3">Produtos Por Marca</h5>
            <div class="mb-4"></div>
            <div style="width: 400px; display: inline-block;">
                <canvas id="productByBrandChart" class="embed-responsive-item"></canvas>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function() {  
              let productCountByCategory = JSON.parse('{{ product_count_by_category|safe }}');
              let productCountByBrand = JSON.parse('{{ product_count_by_brand|safe }}');
        
              let ctxCategory = document.getElementById('productByCategoryChart').getContext('2d');
              let productByCategoryChart = new Chart(ctxCategory, {
                type: 'doughnut',
                data: {
                  labels: Object.keys(productCountByCategory),
                  datasets: [{
                    data: Object.values(productCountByCategory),
                    borderWidth: 1
                  }]
                },
                options: {
                  plugins: {
                    legend: {
                      display: false
                    },
                  }
                }
              });
        
              let ctxBrand = document.getElementById('productByBrandChart').getContext('2d');
              let productByBrandChart = new Chart(ctxBrand, {
                type: 'doughnut',
                data: {
                  labels: Object.keys(productCountByBrand),
                  datasets: [{
                    data: Object.values(productCountByBrand),
                    borderWidth: 1
                  }]
                },
                options: {
                  plugins: {
                    legend: {
                      display: false
                    },
                  }
                }
              });
            });
          </script>
          
    </div>


{% endblock %}
