{% extends "base.html" %}

{% block content %}
{% block title %} Detalhes da Entrada {% endblock  %}
  

<div class="container mt-6">
    <h3 class="display-4">Detalhes da Entrada</h3>

    <div class="card">
        <div class="card-body">
            <h3 class="card-titles">{{ inflows.product }}</h3>
            <p class="card-text">Fornecedor: <strong>{{ inflows.supplier }}</strong></p>
            <p class="card-text">Quantidade: <strong>{{ inflows.quantity }}</strong></p>
            <p class="card-text">{{ inflows.description }}</p>
        </div>
    </div>
    <a href="{% url 'inflow_list' %}" class="btn btn-secondary mt-3">Voltar para a Lista de Entradas</a>
</div>

{% endblock %}